*{margin: 0}
h1{
  font-family: "Open Sans", sans-serif;
  color: white;
}
input{
  border-radius: 0;
}
.header{
  padding: 10px;
  display: flex;
  background-color: #323232;
  justify-content: space-between;
  align-items: center;
}
.m-r-5{
  margin-right: 5px !important;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 5rem;
  border-radius: 10px;
  overflow: hidden;
  min-height: 75vh;
}
form{
  border: #323232 solid 3px;
  padding: 1rem;
  border-radius: 5px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.f-logos{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .container{
    margin-right: 0;
    margin-left: 0;
  }
}

