*{margin: 0}
h1{
  font-family: "Open Sans", sans-serif;
  color: white;
}
input{
  border-radius: 0;
}
.header{
  padding: 10px;
  display: flex;
  background-color: #323232;
  justify-content: space-between;
  align-items: center;
}
.m-r-5{
  margin-right: 5px !important;
}
.container{
  display: flex;
  justify-content: space-around;
  margin: 5rem;
  border-radius: 10px;
  overflow: hidden;
}

