<p-toast [showTransformOptions]="'translateX(100%)'"></p-toast>
<div class="container">
  <div style="display: flex; justify-content: space-around; flex-flow: wrap; gap: 10px">
    <p-orderList
      [value]="cars"
      [listStyle]="{ 'max-height': '30rem'}"
      [controlsPosition]="'none'"
      header="Cars"
      filterBy="model"
      filterPlaceholder="Filter by name">
      <ng-template let-car pTemplate="item">
        <div style="display: flex; justify-content: space-between; align-items: center">
            <div class="image-text">
              <div>
                <img src="../../../assets/car.jpg" [alt]="car.name" [width]="60" class="image" />
              </div>
              <div class="flex-1">
                <h5 class="mb-2">{{ car.model }}</h5>
                <span class="vertical-align-middle line-height-1">{{ car.category.name }}</span>
              </div>
            </div>
            <div>
              <div class="flex flex-column align-items-end" style="margin-bottom: 0.5rem">
                <h6 class="mb-2">{{car.price+'€'}}</h6>
              </div>
              <button pButton style="float: right"  icon="pi pi-shopping-cart" class="p-button-rounded" (click)="selectItem(car)"></button>
            </div>
        </div>
      </ng-template>
    </p-orderList>


    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          <span class="pi pi-shopping-cart mr-2"></span>
          <span class="font-bold text-lg"> Shopping Cart</span>
        </div>
      </ng-template>
    <form #orderForm="ngForm">
      <div class="p-grid">
        <div class="p-col-12">
          <p-dropdown [options]="customers" optionLabel="firstName"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCustomer" placeholder="Select a Customer">
            <ng-template let-customer pTemplate="item">
              {{ customer.firstName }} {{ customer.lastName }}
            </ng-template>
          </p-dropdown>
        </div>
        <div class="p-col-12">
          <table class="p-datatable">

            <tbody>
            <tr *ngFor="let item of orderItems; let i = index">
              <td>
                {{item.car?.model}}
              </td>
              <td>
                <input pInputText type="number" [(ngModel)]="orderItems[i].quantity" name="quantity"/>
                {{item.quantity}}
              </td>
              <td>
                <button pButton type="button" icon="pi pi-trash" (click)="removeOrderItem(i)"></button>
              </td>
            </tr>
            </tbody>
          </table>
          <p-divider></p-divider>
          <h3>Total:</h3>
          <span>{{total}}€</span>
        </div>
      </div>
      <button pButton type="button" style="margin-top: 15px" label="Submit" (click)="submit()"></button>

    </form>
    </p-fieldset>
  </div>
</div>
