.image {
  border-radius: 5px;
  overflow: hidden;
}
.image-text{
  display: flex;
  gap: 5px;
}
p-orderList{
  min-width: 450px;
}
.layout{
  display: flex;
  margin: 5rem;
  justify-content: space-between;
}


